.index {
	.index-swiper {
		height: 4rem;
		.index-swiper-item {
			height: 100%;

			.swiper-art-cont {
			   width:4.4rem;
			   height: 2.2rem;
			   box-sizing: border-box;
			   border: .1rem solid transparent;
			   outline: .1rem solid rgba(255,255,255,0.9);
			}

			.swiper-art-center {
			   width:100%;
			   height: 100%;
			   background: rgba(255,255,255,0.9); 
			}

			.swiper-art-center div {
			   margin: 0 auto;
			   width: 80%;
			}

			.swiper-art-type {
			  height: .5rem;
			  line-height: .6rem;
			  text-align: center;
			  color: #d13954;
			}

			.swiper-art-title {
			  height: .65rem;
			  line-height: .65rem;
			  text-align: center;
			}

			.swiper-art-brief {
			  text-align: center;
			}

		}
	}

	.index-swiper-skeleton {
		background: url('/banner-skeleton.jpg');
	}

	.index-title {
	   margin-top: .3rem;
	   height: 1.41rem;
	   width: 100%;
	}

	.index-title-image {
	   width: 4.23rem;
	   height: 100%;
	}

	.index-link {
		 height: .7rem;
		 line-height: 1rem;
		 text-align: center;
	}
}