.layout {
	min-height: 100vh;

	.layout-cont {
		padding: 0 .25rem;
		padding-top: .2rem;
		background: url('https://api.novenblog.xin/images/users/bg2.png');
		background-size: 100% auto;
	}

	.layout-footer-bg {
		height: 2.77rem;
		width: 100%;
		background: url('https://api.novenblog.xin/images/users/bg3.jpg');
	}
}