.detail {
	.detail-main {
	  margin-top: 20px;
	  width: @pageWidth;
	  background: white;
	  border-radius: @borderRadius;

	  .detail-cont {
	  	padding: 20px;

	  	.detail-title {
	  		height: 80px;
	  		line-height: 80px;
	  		font-size: 32px;
	  		font-weight: normal;
	  	}

	  	.detail-info {
	  		margin-bottom: 20px;
	  		height: 20px;
	  		span {
	  			margin-right: 10px;
	  		}

	  		.detail-info-view {
	  			position: absolute;
	  			right: 0;
	  			top: 2px;
	  			.arc-list-item-view-icon-cont {
		          margin-left: 20px
		        }

		        .arc-list-item-view-icon {
		          margin-right: 5px;
		          width: 16px;
		        }
	  		}
	  	}

	  	.detail-cover {
	  		margin-bottom: 20px;
	  		width: 100%;

	  		.detail-cover-img {
	  			width: 100%;
	  		}
	  	}

	  	.detail-content {
	  		width: 100%;
	  		line-height: 26px;
	  		p {
	  			margin: 15px 0;
	  			text-indent: 26px;
	  		}
	  	}
	  }
	}

	.detail-author {
		margin-top: 40px;
		width: @pageWidth;
	  background: white;
	  border-radius: @borderRadius;
		
		.detail-author-cont {
			padding: 20px;
			.detail-author-cover {
				transition: @transition;
		  	margin-right: 30px;
		  	width: 100px;
		  	height: 100px;
		  	border-radius: 50%;
		  	border: @borderDashed;
		  	&:hover {
		  		border-radius: @borderRadius;
		  	}
		  }

		  .detail-author-info {
		  	width: 980px;
		  }

		  .detail-author-abs {
		  	margin: 10px 0 ;
		  	line-height: 26px;
		  	min-height: 52px;
		  }
		}
	}

	.preview-btns-no-bg {
		background: transparent;
		.preview-btn-submit {
			margin-right: 10px
		}
	}

  pre {
  	background: #f1f1f1
  }

  .detail-collect-cont {
    transition: @transition;
    position: fixed;
    bottom: 140px;
    right: 100px;
    z-index: 9;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: @info;
    color: white;
    cursor: pointer;
    box-shadow: 0 10px 30px @info;
    &:hover {
      transform:scale(1.2);
      background: @primary;
      box-shadow: 0 10px 30px @primary;
    };

  }

  .detail-collect {
    width: 25px;
    height: 25px;
  }

}